import type {AppRoute} from '@eforge/app';
import {GeneratedPage} from './Page';
export const generatedRoute: AppRoute = {
  id: $outputText.jsonLiteral($reactRouteId),
  path: $outputText.jsonLiteral($reactRoutePath),
  title: $outputText.jsonLiteral($functionName),
  access: {permission: $outputText.jsonLiteral("${permissionPrefix}:list")},
  component: GeneratedPage,
};